﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="menu">
        <a class="item" href="#!/">Все темы</a>
        <a class="item" href="#!/my">Мои темы</a>
        <a class="item" href="#!/bookmarks">Закладки</a>
        <a class="item" href="/account/manage">Параметры профиля</a>

        <div class="content item">
            Язык статей
            <div class="ui inline dropdown" id="content-language">
                <div class="text primary-color">Русский</div>
                <i class="dropdown icon"></i>
                <div class="menu" id="language-menu">
                    <!--<div class="active item" data-value="rus" data-text="Русский">Русский</div>
                    <div class="item" data-value="eng" data-text="Английский">Английский</div>-->
                </div>
            </div>
        </div>
        <div class="content item sortby">
            Показать
            <div class="ui inline dropdown" id="result-order">
                <div class="text primary-color">последние</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item" data-value="newest" data-text="времени">последние</div>
                    <div class="active item" data-value="today" data-text="рейтингу за день">рейтингу за день</div>
                    <div class="item" data-value="weekly" data-text="рейтингу за неделю">рейтингу за неделю</div>
                    <div class="item" data-value="monthy" data-text="рейтингу за месяц">рейтингу за месяц</div>
                </div>
            </div>
        </div>
        <div class="content item">
            Показывать изображения
            <div class="ui inline dropdown" id="img-toggle">
                <div class="text primary-color">да</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item" data-value="yes" data-text="да">да</div>
                    <div class="item" data-value="no" data-text="нет">нет</div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            <a class="item" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
        }


    </div>
}
else
{

    @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "ui teal fluid button", id = "loginLink" })
    <div class="menu">
        <div class="content item sortby">
            Показать
            <div class="ui inline dropdown" id="result-order">
                <div class="text primary-color">последние</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item" data-value="newest" data-text="времени">последние</div>
                    <div class="active item" data-value="today" data-text="рейтингу за день">рейтингу за день</div>
                    <div class="item" data-value="weekly" data-text="рейтингу за неделю">рейтингу за неделю</div>
                    <div class="item" data-value="monthy" data-text="рейтингу за месяц">рейтингу за месяц</div>
                </div>
            </div>
        </div>
     </div>
}


