﻿@model IEnumerable<WebApplication.Models.Feed>

@*<table class="ui compact table">
    <tr>
        <th style="width:400px">
            Url
        </th>
        <th>
            Назв
        </th>
        <th>
            Не обнов
        </th>
        <th>
            Язык
        </th>
        <th>
            Пров-н
        </th>
        <th>
            Обновлен
        </th>
        <th>

        </th>
        <th class="right aligned"></th>
    </tr>

    @foreach (WebApplication.Models.Feed item in Model)
    {
        <tr>
            <td style="max-width:150px;">
                @Html.Raw(item.Url)
            </td>
            <td style="max-width:150px;">
                @Html.Raw(item.Title)
            </td>
            <td>
                <input name="visible" type="checkbox" @Html.Raw(item.DoNotUpdate ? "checked='checked'" : "") onclick="changeStatus(this)" data-type=@Html.Raw(item.Url)>
            </td>
            <td>
                @Html.Raw(item.Language)
            </td>
            <td>
                @Html.Raw(item.LastCheckTime)
            </td>
            <td>
                @Html.Raw(item.LastUpdateTime)
            </td>
            <td class="right aligned">
                @Html.ActionLink("Контент", "ByFeed", "Contents", new { url = item.Url }, new { @class = "ui teal basic tiny button" })
                @Html.ActionLink("Изменить", "Edit", new { url = item.Url }, new { @class = "ui teal basic tiny button" })
            </td>
        </tr>
    }

</table>
<script>
    function changeStatus(el) {
        var url = $(el).attr('data-type');
        var notUpdate = $(el).prop('checked');
        var headers = {};

        $.ajax({
            url: '/Hidden/Feeds/ChangeUpdateStatus',
            dataType: "json",
            type: "POST",
            headers: headers,
            data: JSON.stringify({
                "url": url,
                "donotupdate": notUpdate
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: true,
            success: function (data) {
                console.log('success');
            },
            error: function (xhr) {
                console.log('error');
            }
        });
    }
</script>*@


<table class="ui compact table">
    <tr>
        <th>
            Url
        </th>
        <th>
            Имя ссылки
        </th>
        <th>
            Не-обн.
        </th>
        <th>
            Тег
        </th>
        <th>
            Создан
        </th>
        <th class="right aligned"></th>
    </tr>

    @foreach (WebApplication.Models.Feed item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.Url)
            </td>
            <td style="max-width:150px;">
                @Html.Raw(item.Title)
            </td>
            <td style="max-width:50px;">
                <input name="visible" type="checkbox" @Html.Raw(item.DoNotUpdate ? "checked='checked'" : "") onclick="changeStatus(this)" data-type=@Html.Raw(item.Url)>
            </td>
            <td style="max-width:150px;">
                @Html.ActionLink(item.Tag.Id, "Edit", "Tags", new { id = item.Tag.Id }, null)
            </td>
            <td>
                @Html.Raw(item.CreateDate)
            </td>
            <td class="right aligned">
                @Html.ActionLink("Contents", "ByTag", "Feeds", new { id = item.Tag_Id }, new { @class = "ui teal basic tiny button" })
                @Html.ActionLink("Edit", "Edit", new { url = item.Url }, new { @class = "ui teal basic tiny button" })
            </td>
        </tr>
    }

</table>

<script>
    function changeStatus(el) {
        var url = $(el).attr('data-type');
        var notUpdate = $(el).prop('checked');
        var headers = {};

        $.ajax({
            url: '/Hidden/Feeds/ChangeUpdateStatus',
            dataType: "json",
            type: "POST",
            headers: headers,
            data: JSON.stringify({
                "url": url,
                "donotupdate": notUpdate
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: true,
            success: function (data) {
                console.log('success');
            },
            error: function (xhr) {
                console.log('error');
            }
        });
    }
</script>
