﻿
<h2>Добавить источник</h2>

@if (ViewBag.Message != null)
{
<h3>@Html.Raw(ViewBag.Message)</h3>
}
            @using (Html.BeginForm("Create", "Feeds", FormMethod.Post, new { @class = "ui form" }))
            {
                <div class="three fields">
                    @*<div class="field">
                            <label>http/https</label>
                            <input type="text" name="url"/>
                        </div>*@
                    <div class="field">
                        <label>Url</label>
                        <input type="text" name="url" />
                    </div>
                    <div class="field">
                        <label>Заголовок</label>
                        <input type="text" name="title" />
                    </div>
                </div>
                @*<div class="two fields">
                        <div class="field">
                            <label>Описание</label>
                            @Html.EditorFor(a => a.Description)
                        </div>
                        <div class="field">
                            <label>Комментакий</label>
                            @Html.EditorFor(a => a.Comment)
                        </div>
                    </div>*@

                <div class="two fields">

                    <div class="field">
                        <label>Язык</label>
                        <select class="ui dropdown" name="language">
                            @foreach (WebApplication.Models.Languages lang in ViewBag.Langs)
                            {
                                <option selected="selected" value=@lang.Id>@lang.RussianName</option>
                            }
                        </select>
                    </div>


                    <div class="field">
                        <label>Тег</label>
                        <select class="ui search dropdown" name="tag">
                            @foreach (WebApplication.Models.Tag tag in ViewBag.Tags)
                            {
                                <option selected="selected" value=@tag.Id>@tag.Title</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Не обновлять</label>
                        @*<input type="checkbox" name="donotupdate" value="false" checked="">Не обновлять автоматичкски<br>*@

                        <input type="radio" name="donotupdate" value="true">Не обновлять автоматичкски<Br>
                        <input type="radio" name="donotupdate" value="false">Обновлять автоматичкски<Br>
                    </div>
                </div>

                <input type="submit" value="Сохранить" class="ui submit button" />
            }
