﻿@model WebApplication.Models.Feed

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit","Feeds",FormMethod.Post,new { @class= "ui form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>@Model.Url</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Url)

        <div class="field">
            @Html.LabelFor(model => model.Title)
            
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title)

        </div>

        <div class="field">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Language, "Language", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Language", new List<WebApplication.Models.Languages>(ViewBag.Languages).Select(a => new SelectListItem { Text=a.RussianName, Value = a.Id}) , htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="field">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Block, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Block)
                    @Html.ValidationMessageFor(model => model.Block, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Failures, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Failures, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Failures, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="field">
            <label>Тег</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tag_Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tag_Id, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <select class="ui search dropdown" name="Tag_Id">
            <option value=@ViewBag.Tag.Id>@ViewBag.Tag.Title</option>
            @foreach (WebApplication.Models.Tag item in ViewBag.Tags)
            {
                <option value=@item.Id>@item.Title</option>
            }
        </select>

        <div class="field">
            @Html.LabelFor(model => model.DoNotUpdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DoNotUpdate)
                    @Html.ValidationMessageFor(model => model.DoNotUpdate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       

        <div class="field">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
