﻿@model WebApplication.Areas.Hidden.Models.FeedSortParams

@using (Html.BeginForm("Index", "Feeds", FormMethod.Post, new { @class = "ui form" }))
{
    <div class="fields four">
        <div class="field">
            @Html.EditorFor(m => m.Domain, new { htmlAttributes = new { placeholder = "Поиск по домену" } })
        </div>
        <div class="field">
            @Html.EditorFor(m => m.CreationDateStart, new { htmlAttributes = new { type = "text" } })
        </div>
        <div class="field">
            @Html.EditorFor(m => m.CreationDateEnd, new { htmlAttributes = new { type = "text" } })
        </div>
        <div class="field">
            <button class="ui button teal" type="submit">Найти</button>
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.DoNotUpdate)
                <label>Не обновлять</label>
            </div>
        </div>
    </div>
}

<div class="ui divider"></div>
<table class="ui compact table">
    <tr>
        <th style="max-width:400px;">
            Url
        </th>
        <th>
            Имя ссылки
        </th>
        <th>
            Не-обн.
        </th>
        <th>
            Тег
        </th>
        <th>
            Создан
        </th>
        <th class="right aligned"></th>
    </tr>

    @foreach (WebApplication.Models.Feed item in ViewBag.Feeds)
    {
        <tr>
            <td >
                @Html.Raw(item.Url)
            </td>
            <td style="max-width:150px;">
                @Html.Raw(item.Title)
            </td>
            <td style="max-width:50px;">
                <input name="visible" type="checkbox" @Html.Raw(item.DoNotUpdate ? "checked='checked'" : "") onclick="changeStatus(this)" data-type=@Html.Raw(item.Url)>
            </td>
            <td style="max-width:150px;">
                @Html.ActionLink(item.Tag.Id, "Edit", "Tags", new { id = item.Tag.Id },null)
            </td>
            <td>
                @Html.Raw(item.CreateDate)
            </td>
            <td class="right aligned">
                @Html.ActionLink("Contents", "ByTag", "Feeds", new { id = item.Tag_Id }, new { @class = "ui teal basic tiny button" })
                @Html.ActionLink("Edit", "Edit", new { url = item.Url }, new { @class = "ui teal basic tiny button" })
            </td>
        </tr>
    }

</table>

<script>
    function changeStatus(el) {
        var url = $(el).attr('data-type');
        var notUpdate = $(el).prop('checked');
        var headers = {};

        $.ajax({
            url: '/Hidden/Feeds/ChangeUpdateStatus',
            dataType: "json",
            type: "POST",
            headers: headers,
            data: JSON.stringify({
                "url": url,
                "donotupdate": notUpdate
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: true,
            success: function (data) {
                console.log('success');
            },
            error: function (xhr) {
                console.log('error');
            }
        });
    }
</script>
