﻿@model WebApplication.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                @*<div class="four ui buttons">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="ui circular @p.AuthenticationType.ToLower() icon button" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType
                            <i class="@p.AuthenticationType icon"></i>
                        </button>
                    }
                </div>*@
                    <div class="four ui buttons">
                        <button class="ui circular facebook icon button" value="Facebook" id="Facebook" type="submit" disabled="disabled">
                            <i class="facebook icon"></i>
                        </button>
                        <button class="ui circular twitter icon button" disabled="disabled">
                            <i class="twitter icon"></i>
                        </button>
                        <button class="ui circular vk icon button" disabled="disabled">
                            <i class="vk icon"></i>
                        </button>
                        <button class="ui circular google plus icon button" value="Google" id="Google" type="submit" disabled="disabled">
                            <i class="google plus icon"></i>
                        </button>
                    </div>

                </div>
        }
    }
}

<!--
                        <button type="submit" class="btn btn-default" id="Google" name="provider" value="Google" title="Log in using your Google account">Google</button>
                        <button type="submit" class="btn btn-default" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account">Facebook</button>
-->