﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Адрес электронной почты подтвержден</title>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    @Styles.Render("~/Content/css")
</head>
<body class="wet-asphalt">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="message-form">
        <div>Адрес электронной почты <b>подтвержден</b>!<br>
        <a href="/">Перейти на главную</a>
        </div>
    </div>
    <script>
        setTimeout(toMain, 3000);
        function toMain() {
            window.location = "http://neek.one/";
        }

    </script>
</body>
</html>
