﻿@model WebApplication.Models.ExternalLoginConfirmationViewModel
@using WebApplication.Models

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Авторизация на Neek.one.</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="login-form">
        <div>
            <h3>Свяжите почту с аккаунтом на @ViewBag.LoginProvider.</h3>
            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p class="text-info">
                    Вы успешно аворизовались через <strong>@ViewBag.LoginProvider</strong>.<br/>
                    Введите, пожалуйста, свою электронную почту в поле ниже и нажмите кнопку сохранить.
                </p>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" class="btn btn-default" value="Сохранить" />
                    </div>
                </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            </div>
    </div>
    </body>
</html>
