﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Восстановление пароля к учетной записи.</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <style>
        .field-validation-error {
            display: block;
            color: red;
        }
    </style>
</head>
<body>
    <div class="column" style="margin:0 auto;max-width:390px;margin-top:100px;padding:20px;">
        <div class="ui teal header" style="text-align:center;margin:10px;"><h1>Проверьте почту!</h1></div>
        <div style="text-align:center">
            <p>
                На Ваш email отправлено письмо для продолжения восстановления пароля.
            </p>


        </div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77369830-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>