﻿@using WebApplication.Models
@model LoginViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Авторизация на Neek.one.</title>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <style>
        .field-validation-error {
            display:block;
            color:red;
        }
    </style>
</head>
<body>
    <div class="column" style="margin:0 auto;max-width:390px;margin-top:100px;padding:20px;">
        <div>
            <div class="ui teal header" style="text-align:center;margin:10px;"><h2>Войти</h2></div>
            
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ui form", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="field">
                        <!--<label>Почта</label>-->
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Почта", type="email"})
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="field">
                        <!--<label>Пароль</label>-->
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control",placeholder="Пароль" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="field">
                        <input type="submit" value="Войти" class="ui teal submit button left floated" />
                        <div class="ui basic buttons right floated">
                            <a class="ui icon button basic" href="/Account/Register">
                                <i class="add user icon"></i>
                                Зарегистрироваться
                            </a>

                            <a class="ui icon button basic" href="/Account/ForgotPassword">
                                <i class="unlock alternate icon"></i>
                            </a>
                            @*@Html.ActionLink("Зарегистрироваться", "Register", null, new { @class="ui large teal submit button basic right floated" })*@
                        </div>
                    </div>


                    <div class="field">
                        <p>
                            <br>
                            
                        </p>
                    </div>
                        
                }

                @*<div id="socialLoginForm" >
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>*@
                
            
        </div>

    </div>

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $('form').validate();
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77369830-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>
