﻿@model WebApplication.Models.RegisterViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Регистрация на Neek.one.</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <style>
        .field-validation-error {
            display: block;
            color: red;
        }
    </style>
</head>
<body>
    <div class="column" style="margin:0 auto;max-width:390px;margin-top:100px;padding:20px;">
        <div>
            <div class="ui teal header" style="text-align:center;margin:10px;"><h2>Регистрация</h2></div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="field">
                    <label>Электронная почта</label>
                    <input type="email" name="email" placeholder="name@example.com" />
                </div>
                <div class="field">
                    <label>Пароль</label>
                    <div>
                        @Html.PasswordFor(m => m.Password,new { placeholder="не менее 6 символов"})
                    </div>
                </div>
                <div class="field">
                    <label>Пароль еще раз</label>
                    <div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "не менее 6 символов" })
                    </div>
                </div>
                <div class="field">
                    <input type="submit" value="Зарегистрироваться" class="ui fluid teal submit button" />
                </div>
            }
        </div>
        </div>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77369830-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>