﻿@model WebApplication.Models.ResetPasswordViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Сброс пароля.</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <style>
        .field-validation-error {
            display: block;
            color: red;
        }
    </style>
</head>
<body>
    <div class="column" style="margin:0 auto;max-width:390px;margin-top:100px;padding:20px;">
        <div class="ui teal header" style="text-align:center;margin:10px;"><h2>Изменение пароля</h2></div>
        <div>
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="field">
                    <label>Email адрес</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="field">
                    <label>Новое значение пароля</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="field">
                    <label>Новое значение пароля повторно</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>

                <div class="field">
                    <input type="submit" value="Сохранить" class="ui fluid teal submit button" />
                </div>
            }


        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>