﻿@model IEnumerable<WebApplication.Models.Content>

<table class="ui compact table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Публичный
        </th>
        <th class="right aligned"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Public)
            </td>
            <td class="right aligned">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "ui teal basic button" })
                @Html.ActionLink("Подробности", "Details", new { id = item.Id }, new { @class = "ui teal basic button" })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "ui teal basic button" })
            </td>
        </tr>
    }

</table>