﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Сохраненные ссылки</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    @Styles.Render("~/Content/css")
</head>
<body class="wet-asphalt">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div>
        <div id="sidemenu">
            &#9776;
        </div>
        <aside id="asidemenu">
            
            <div class="logo"><a href="/" style="color:#F44336">NEEK.ONE</a></div>
            <nav>
                <ul>
                    <li><a href="/">На главную</a></li>
                </ul>
                <ul id="menu">
                </ul>
            </nav>
            <hr/>
            <div class="aside-headers u-cf">Темы:</div>
            <div>
                <ul class="user-tags">

                </ul>
            </div>
            <div class="share-buttons">
                <div class="aside-headers u-cf">Рассказать о нас</div>
                    <a onclick="Share.vkontakte('URL','TITLE','IMG_PATH','DESC')"><img src="~/Content/img/vkontakte.svg"/></a>
                    <a onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')"><img src="~/Content/img/facebook.svg" /></a>
                    <a onclick="Share.twitter('URL','TITLE')"><img src="~/Content/img/twitter.svg" /></a>
                    <a onclick="Share.twitter('URL')"><img src="~/Content/img/google-plus.svg" /></a>
            </div>
        </aside>

        <div class="main wet-asphalt" id="bodypanel">
            <div class="use-swipe hidden">‹ Используй свайп ›</div>
            <div class="grid">
               
            </div>
            <div class="spinner hidden"></div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js" defer></script>
    <script src="~/Scripts/tags.json" defer></script>
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/my")

</body>
</html>
