﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.full.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/semantic.min.js"></script>
</head>
<body>
    <div class="ui visible left vertical sidebar menu overlay" id="left-sidebar">
        <div id="close-sidebar" class="sidebar-controls">
            <i class="sidebar icon"></i>
        </div>
        <!--
            LOGO
            ------------------------>
        <div class="item" id="main-logo">
            ADMIN
        </div>

        <!--
            MENU ITEMS
            ------------------------>
        <div class="item">
            <div class="header">Меню</div>
            <div class="menu">
                <a class="item" href="~/Hidden/Categories/">Категории</a>
                <a class="item" href="~/Hidden/Tags/">Тэги</a>
                <a class="item" href="~/Hidden/Feeds/">Источники</a>
                <a class="item" href="~/Hidden/Feeds/Create">Добавить источник</a>
                <a class="item" href="~/Hidden/Domains/">Домены</a>
                <a class="item" href="~/Hidden/Domains/Create">Добавить домен</a>
                <a class="item"><strike>Пользователи</strike></a>
            </div>
        </div>
    </div>
    <div class="pusher" style="margin-left:330px">
        <div class="ui basic segment container " style="width: auto;">
            <div class="hidden sidebar-controls" id="open-sidebar">
                <i class="sidebar icon"></i>
            </div>

            @RenderBody()
            </div>
        </div>
        @RenderSection("scripts", required: false)

        <script>
            $(function () {

                $('.ui.dropdown').dropdown();

                $('.menu.sidebar').sidebar('setting', {
                    dimPage: false,
                    closable: false,
                    onVisible: function () {
                        $('.pusher').css('margin-left', '330px');

                    },
                    onHide: function () {
                        $('.pusher').css('margin-left', '0px');

                    },
                    defaultTransition: {
                        computer: {
                            left: 'overlay'
                        },
                        mobile: {
                            left: 'uncover'
                        }
                    }
                });

                $('#open-sidebar').click(function () {
                    $('.menu.sidebar').sidebar('show');
                    $(this).addClass('hidden');
                });

                $('#close-sidebar').click(function () {
                    $('.menu.sidebar').sidebar('hide');
                    $('#open-sidebar').removeClass('hidden');
                });

            });
        </script>
</body>
</html>