﻿@model WebApplication.Models.Categories

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","Categories",FormMethod.Post,new { @class = "ui form" }))
{
    @Html.AntiForgeryToken()

    <div class="two fields">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="field">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>

        <div class="field">
            @Html.LabelFor(model => model.ParentId, "ParentId", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownList("ParentId",null, "--Выбрать родителя--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="one field">
        <div class="field">

            <select class="ui fluid search dropdown" multiple="" name="tags">
                <option value="">Включенные тэги</option>
                @foreach (WebApplication.Models.Tag item in ViewBag.Tags)
                {
                    if (Model.Tags.Contains(item))
                    {
                        <option selected="selected" value=@item.Id>@item.Title</option>
                    }
                    else
                    {
                        <option value=@item.Id>@item.Title</option>
                    }
                }
            </select>
        </div>
    </div>
        <div class="field">
            <button class="ui button teal" type="submit">Сохранить</button>
            @Html.ActionLink("К списку", "Index", null, new { @class = "ui button basic teal" })
        </div>
        

        }

