﻿@model IEnumerable<WebApplication.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Создать новую категорию", "Create",null,new {@class= "ui teal button" })
    @Html.ActionLink("Сгенерировать новый json для меню", "GenerateMenuJson","Tags",null,new {@class= "ui teal button" })
</p>
<h2>Категории</h2>
<table class="ui teal inverted table">
    <tr>
        <th>
            
        </th>
        @*<th>
            Родительская категория
        </th>*@
        <th class="right aligned"></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @*<h4>@Html.DisplayFor(modelItem => item.Name)</h4>*@
            <h4>@Html.ActionLink(item.Name,"Index", new { current = item.Id }, new { style="color:#fff"})</h4>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Parent.Name)
        </td>*@
        <td class="right aligned">
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }, new { @class = "ui  basic button" }) 
            @Html.ActionLink("Подробности", "Details", new { id=item.Id }, new { @class = "ui  basic button" }) 
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id }, new { @class = "ui  basic button" })
        </td>
    </tr>
}
    @*@Html.ActionLink("Создать новую категорию", "Create", new { parent = ViewBag.Current }, new { @class = "ui teal button" })*@


</table>
@using (Html.BeginForm("Create", "Categories", null, FormMethod.Post, new { @class = "ui form" }))
{
    @Html.AntiForgeryToken()

    <div class="inline field">
        @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
        <input value="" placeholder="Имя категории" name="Name" type="text">
        <input type="submit" value="Создать" class="ui teal button" />
    </div>

            <div class="field hidden">
                <input value=@ViewBag.Current name="ParentId" type="text">
                @*@Html.LabelFor(model => model.ParentId, "ParentId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ParentId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Родительская категория")
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>*@

            </div>

            
                
            
}

<h2>Теги</h2>
@using (Html.BeginForm("AddTag", "Categories", null, FormMethod.Post, new { @class = "ui form" }))
{
    <select class="ui search dropdown" name="tag">
        <option>Добавить тэг в категорию</option>
        @foreach (WebApplication.Models.Tag item in ViewBag.AllTags)
        {
            <option value=@item.Id>@item.Title</option>
        }
    </select>
    <input type="submit" value="Добавить" class="ui teal button" />
    <div class="field hidden">
        <input value=@ViewBag.Current name="categoryId" type="text">
    </div>
}

<table class="ui teal table">
    @foreach (WebApplication.Models.Tag tag in ViewBag.Tags)
    {
        <tr>
            <td>
                <h4>@Html.ActionLink(tag.Title, "Edit","Tags", new { id = tag.Id })</h4>
            </td>
            
            <td class="right aligned">
                <a href="~/Hidden/Tags/Edit?id=@tag.Id" class="ui button basic teal right">Редактировать</a>
                <a href="~/Hidden/Categories/RemoveTag?categoryId=@ViewBag.Current&tag=@tag.Id" class="ui button basic teal right">Удалить</a>
            </td>
        </tr>
    }
</table>

