﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Neek.one</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    @Styles.Render("~/Content/css")
</head>
<body class="wet-asphalt">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div>
    <div id="sidemenu">
        &#9776;
    </div>
    <aside id="asidemenu">
        
        <div class="logo"><a style="color:#F44336" href="/">NEEK.ONE</a></div>
        <div id="the-basics">
            <input class="typeahead tag-search" type="text" placeholder="Поиск тем">
        </div>
        <a href="#" id="showtaglist">Все темы</a>
        <div class="aside-headers u-cf">Наблюдаемые темы<span class="aside-info" data-tooltip="По выбранным темам будут<br> находится ссылки<br>При клике на тему она удаляется из списка">&#10033;</span></div>
        <div class="tag-include u-cf">
            <span class="tags-desc">Соберите список интересующих тем</span>
        </div>
        <div class="aside-headers u-cf">Исключенные темы<span class="aside-info" data-tooltip="Тексты относящиеся к этим темам<br> не будут показаны<br>При клике на тему она удаляется из списка">&#10033;</span></div>

        <div class="tag-exclude u-cf">
            <span class="tags-desc">Можно исключить из поиска некоторые темы, кликнув по их названию в описании найденых статей</span>
        </div>

        <label class="content-options-images">
            <input type="checkbox" id="showimage" checked="checked">
            <span class="label-body">Показывать изображения</span>
        </label>

        <button id="get-content">Показать</button>
        
        <hr/>
        <nav>
            <ul>
                <li><a href="/my">Избранное</a></li>
                <li><a href="#" id="add-website-bottom">Предложить сайт</a></li>
            </ul>
            <form class="add-new-website-form hidden">
                <input type="url" placeholder="Название сайта" сайта">
                <button>Добавить</button>
            </form>
            <ul id="menu">

            </ul>

        </nav>

        <div class="share-buttons">
            <div class="aside-headers u-cf">Рассказать о нас</div>
            <a onclick="Share.vkontakte('http://neek.one','Neek.one',null,'Описание')"><img src="~/Content/img/vkontakte.svg" /></a>
            <a onclick="Share.facebook('http://neek.one', 'Neek.one', 'IMG_PATH', 'Описание')"><img src="~/Content/img/facebook.svg" /></a>
            <a onclick="Share.twitter('http://neek.one', 'Neek.one')"><img src="~/Content/img/twitter.svg"/></a>
            <a onclick="Share.twitter('http://neek.one')"><img src="~/Content/img/google-plus.svg"/></a>
        </div>
    </aside>

    <div class="main wet-asphalt" id="bodypanel">
        <div id="all-tags-list" class="hidden"> </div>
        <div class="hidden first-message">
            <h1>Neek<span style="color:white;">.one</span></h1>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
            <p>
                Sed do eiusmod tempor incididunt ut labore.
            </p>
            <p>
                Et dolore magna aliqua.
            </p>

        </div>
        <div class="use-swipe hidden">‹ Используй свайп ›</div>
        <div class="grid"></div>

        <div class="spinner hidden"></div>
    </div>
</div>
    
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/tags.json" defer></script>
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/main")
</body>
</html>
