﻿<!doctype html>
<html>

<head>
    <title>Neek.one</title>
    <meta lang="ru" />
    <meta name="Content-Type" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
    <style>
        .drilldown {
            overflow: hidden;
        }

        .drilldown-sub {
            display: none;
        }

        html.ios {
          overflow-x: hidden;
          -webkit-overflow-scrolling: touch;
        }

        html.ios,
        html.ios body {
          height: 100% !important;
        }
    </style>
</head>

<body>
    <!--
            SIDEBAR
            ------------------------>
    <div class="ui left vertical visible overlay sidebar menu" id="left-sidebar">
        <div id="close-sidebar" class="sidebar-controls">
            <i class="sidebar icon"></i>
        </div>
        <!--
            LOGO
            ------------------------>
        <div class="item" id="main-logo">
            NEEK.ONE
        </div>

        <!--
            MENU ITEMS
            ------------------------>
        <div class="item">
            
            <div class="menu" id="main-menu">
                <div class="hidden auth">
                    <a class="item" data-value="0">Все темы</a>
                    <a class="item" data-value="2">Мои темы</a>
                    <a class="item" data-value="1">Закладки</a>
                </div>
                <div class="noauth item">
                    @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "ui teal fluid loading button", id = "loginLink" })
                </div>

                <div class="content item">
                    Язык статей
                    <div class="ui inline dropdown" id="content-language">
                        <div class="text primary-color">Русский</div>
                        <i class="dropdown icon"></i>
                        <div class="menu" id="language-menu">
                            <div class="active item" data-value="rus" data-text="Русский">Русский</div>
                            <div class="item" data-value="eng" data-text="Английский">Английский</div>
                        </div>
                    </div>
                </div>
                <div class="content item sortby">
                    Сортировать по
                    <div class="ui inline dropdown result-order" >
                        <div class="text primary-color">времени</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="active item" data-value="newest" data-text="времени">времени</div>
                            <div class="item" data-value="today" data-text="рейтингу за день">рейтингу за день</div>
                            <div class="item" data-value="weekly" data-text="рейтингу за неделю">рейтингу за неделю</div>
                            <div class="item" data-value="monthy" data-text="рейтингу за месяц">рейтингу за месяц</div>
                        </div>
                    </div>
                </div>
                <div class="content item">
                    Показывать изображения
                    <div class="ui inline dropdown" id="img-toggle">
                        <div class="text primary-color">да</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="active item" data-value="yes" data-text="да">да</div>
                            <div class="item" data-value="no" data-text="нет">нет</div>
                        </div>
                    </div>
                </div>

                <div class="hidden auth">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        <a class="item" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                    }
                </div>
            </div>
        </div>

        <!--
            TAGS LIST
            ------------------------>
        <div class="item">
            <div class="header">Темы</div>
            <div class="menu">
                <div class="drilldown">
                    
                    <div class="drilldown-container">
                        <div class="drilldown-root ui list">
                            <div class="ui active centered inline loader"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--
            MAIN CONTENT
            ------------------------>
    <div class="pusher" style="margin-left:0px;">

        <div class="ui centered align dividing"  style="padding:20px;font-size:20px;text-transform:uppercase;border-bottom:1px solid rgba(34,36,38,0.1);" >
            <div id="subscribe-panel" style="margin-left:30px">
                <span id="subscribe-subject"></span>
                <i class="angle right icon" id="subscribe-delimiter"></i>
                <a id="subscribe-action"></a>
            </div>
        </div>

        <div class="ui basic segment container">
               
            <div class="hidden sidebar-controls" id="open-sidebar">
                <i class="sidebar icon"></i>
            </div>

            <!--
             ARTICLES LIST
            ------------------------>
            <div class="ui items" id="content-items">

                
            </div>
            <div class="ui active centered large inline loader" id="content-loader"></div>
        </div>
    </div>


    
    
    <!--
        THEMPLATES
        ------------------------>
    <script type="text/template" id="lang"> 
        <div class="item" data-value=<%= id %> data-text=<%= russianName %> ><%= russianName %></div>
    </script>
    
    <script type="text/template" id="contentItem">        
        
        <div class="ui image small">
                 
                <% if(imageLink != ''){ %>
                    <%var imgsrc  = imageLink.substring(0,2) + "/" +  imageLink.substring(2,4) + "/" + imageLink.substring(4) + ".jpg";%>
                    <% if(showimg){  %>
                        <img src="/content/images/<%= imgsrc %>">
                    <% }else{ %>
                        <img  data-src="/content/images/<%= imgsrc %>">
                    <% } %>
                    
                <% }%>               
                    </div>
                    <div class="content">
                        <a href="http://<%=link%>" target="_blank" rel="noopener" class="header"><%=title%></a>
                        <div class="meta">
                            <a class="ui label teal <%=liked%> mini like" data-value=<%=id%>>
                                <i class="icon heart"></i>
                                Нравится
                                <% if(likes!=0){  %>
                                    <div class="detail"><%= likes %></div>
                                <% } %>
                                
                            </a>
                            <a class="ui label teal <%=bookmarked%> mini bookmark" data-value=<%=id%>>
                                <i class="bookmark icon"></i>
                                В закладки
                            </a>
                            <% _.each(tags, function(value){ %>
                                <a class="ui label basic mini" data-tag=<%=value.id%>><%=value.item%></a>
                            <% }); %>
                        </div>
                        <div class="description">
                            <p><%=text%></p>
                        </div>
                        <div class="extra">
                            @*<% var dd = new Date(parseInt(date.replace("/Date(", "").replace(")/",""), 10)); %>
                            <span><%=dd.getDate() + '/' + (dd.getMonth()+1) +'/' +dd.getFullYear()%></span>
                            <span style="margin-left:26px"><%=host%></span>*@
                    </div>
                    </div>
                
    </script>
    <!--
        SCRIPTS
        ------------------------>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-77369830-1', 'auto');
    </script>
    @*<script src="~/Scripts/semantic.min.js"></script>
    <script src="~/scripts/underscore.min.js"></script>
    <script src="~/scripts/backbone.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/ap.js"></script>*@
    <script src="~/Scripts/app.min.js"></script>

</body>

</html>