﻿@model WebApplication.Models.Tag

<h1>Тэг: @Model.Title</h1>
<span>@Model.CreationDate</span>

        @using (Html.BeginForm("Edit", "Tags", FormMethod.Post, new { @class = "ui form" }))
        {
        <div class="two fields">
            <div class="field">
                <label>Идентификатор</label>
                <input placeholder="Id" type="text" name="Id" value=@Model.Id>
            </div>
            <div class="field">
                <label>Название</label>
                <input placeholder="Название" type="text" name="Title" value="@Model.Title">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Дата создания</label>
                <input type="text" name="CreationDate" value="@Model.CreationDate">
            </div>
            <div class="field">
                
            </div>
        </div>
        <div class="field">
            <label>Описание</label>
            <input placeholder="Описание" type="text" name="Description" value="@Model.Description">
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.Visible)

                <label>Показывать пользователям</label>
            </div>
        </div>

        <div class="field">
           
            <select class="ui fluid search dropdown" multiple="" name="ParentTags">
                <option value="">Родительсткие тэги</option>
                @foreach (WebApplication.Models.Tag item in ViewBag.Tags)
                {
                    if (Model.ParentTags.Contains(item))
                    {
                        <option selected="selected" value=@item.Id>@item.Title</option>
                    }
                    else
                    {
                        <option value=@item.Id>@item.Title</option>
                    }
                }
            </select>
        </div>
        <div class="field">
            <button class="ui button teal" type="submit">Сохранить</button>
        </div>

        }

