﻿@model WebApplication.Areas.Hidden.Models.TagsSortParams

@using(Html.BeginForm("Index","Tags",FormMethod.Post,new {@class= "ui form" }))
{
    <div class="fields three">
        <div class="field">
            @*<label>Название</label>*@

            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { placeholder = "Поиск по названиям" } })
        </div>
        <div class="field">
            @*<label>Сознан позже чем</label>*@
            @*<input type="text" name="CreationDate" placeholder="Сознан позже чем" />*@
            @Html.EditorFor(m => m.CreationDate, new { htmlAttributes = new { type = "text" } })
        </div>
        <div class="field">
            <button class="ui button teal" type="submit">Найти</button>
        </div>
     </div>
     <div class="fields">
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.Visible)
                <label>Видимый пользователям</label>
            </div>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.HasParent)
                <label>Нет родителей</label>
            </div>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.HasChildren)
                <label>Нет потомков</label>
            </div>
        </div>
        
        
    </div>
}
<div class="ui divider"></div>
<table class="ui compact table">
    <tr>
        <th>
            Id 
        </th>
        <th>
            Название
        </th>
        <th>
            Виден
        </th>
        <th>
            Создан
        </th>
        <th class="right aligned"></th>
    </tr>

    @foreach (WebApplication.Models.Tag item in ViewBag.Tags)
    {
        <tr>
            <td style="max-width:150px;">
                @Html.Raw(item.Id)
            </td>
            <td style="max-width:150px;">
                @Html.Raw(item.Title)
            </td>
            <td>
      
                <input name="visible" type="checkbox" @Html.Raw(item.Visible ? "checked='checked'" : "") onclick="changeStatus(this)" data-type=@Html.Raw(item.Id)>
      
            </td>
            <td>
                @Html.Raw(item.CreationDate)
            </td>
            <td class="right aligned">
                @Html.ActionLink("Источники", "ByTag","Feeds", new { id = item.Id }, new { @class = "ui teal basic tiny button" })
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "ui teal basic tiny button" })
            </td>
        </tr>
    }

</table>
<script>
    function changeStatus(el) {
        var tag = $(el).attr('data-type');
        var visible = $(el).prop('checked');
        var headers = {};

        $.ajax({
            url: '/Hidden/Tags/ChangeTagStatus',
            dataType: "json",
            type: "POST",
            headers: headers,
            data: JSON.stringify({
                "tag": tag,
                "visible": visible
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: true,
            success: function (data) {
                console.log('success');
            },
            error: function (xhr) {
                console.log('error');
            }
        });
    }

    function deleteTag(el) {
        var tag = $(el).attr('data-type');
        $.ajax({
            url: '/Hidden/Tags/Delete',
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                "tag": tag
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: true,
            success: function (data) {
                console.log('success');
            },
            error: function (xhr) {
                console.log('error');
            }
        });
    }
</script>