﻿@model WebApplication.Models.Domain

@{
    ViewBag.Title = "Create";
}

<h2>Добавить новый домен</h2>

@using (Html.BeginForm("Create","Domains",FormMethod.Post,new { @class= "ui form" }))
{
    @Html.AntiForgeryToken()
    
   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="three fields">
            <div class="field">
                @Html.LabelFor(model => model.Host, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Host, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
            </div>

            <div class="field">
                <label>Комментарий</label>
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label>Блокировать</label>
                @Html.EditorFor(model => model.Block)
                @Html.ValidationMessageFor(model => model.Block, "", new { @class = "text-danger" })
            </div>



            <div class="field">
                <label>Новый</label>
                @Html.EditorFor(model => model.IsNew)
                @Html.ValidationMessageFor(model => model.IsNew, "", new { @class = "text-danger" })
            </div>

            <div class="field">
                <label>Обновлять автоматически</label>
                @Html.EditorFor(model => model.AutomaticUpdate)
                @Html.ValidationMessageFor(model => model.AutomaticUpdate, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.LastUpdateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastUpdateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastUpdateTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastListUpdateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastListUpdateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastListUpdateTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "text-danger" })
                </div>
            </div>*@


                <input type="submit" value="Сохранить" class="ui primary button" />

                <button class="ui button">
                    @Html.ActionLink("К списку", "Index")
                </button>

}
