﻿@model WebApplication.Areas.Hidden.Models.DomiansSortParams

@using (Html.BeginForm("Index", "Domains", FormMethod.Post, new { @class = "ui form" }))
{
    <div class="fields three">
        <div class="field">
            @*<label>Название</label>*@

            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Поиск по названиям" } })
        </div>
        <div class="field">
            @*<label>Сознан позже чем</label>*@
            @*<input type="text" name="CreationDate" placeholder="Сознан позже чем" />*@
            @Html.EditorFor(m => m.AddingTime, new { htmlAttributes = new { type = "text" } })
        </div>
        <div class="field">
            <button class="ui button teal" type="submit">Найти</button>
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.AutoUpdate)
                <label>Автоматически обновляется</label>
            </div>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.IsNew)
                <label>Новый</label>
            </div>
        </div>
    </div>
}

<div class="ui divider"></div>
<table class="ui compact table">
    <tr>
        <th>
            Хост
        </th>
        <th>
            Новый
        </th>
        <th>
            Заблокирован
        </th>
        <th>
            Обновляется
        </th>
        <th>
            Создан
        </th>
        <th class="right aligned"></th>
    </tr>

    @foreach (WebApplication.Models.Domain item in ViewBag.Domains)
    {
        <tr>
            <td style="max-width:150px;">
                @Html.Raw(item.Host)
            </td>
            <td style="max-width:150px;">
                @Html.Raw(item.IsNew)
            </td>
            <td style="max-width:150px;">
                @Html.Raw(item.Block)
            </td>
            <td>

                <input name="visible" type="checkbox" @Html.Raw(item.AutomaticUpdate ? "checked='checked'" : "") onclick="changeStatus(this)" data-type=@Html.Raw(item.Host)>

            </td>
            <td>
                @Html.Raw(item.CreationDate)
            </td>
            <td class="right aligned">
                @Html.ActionLink("Источники", "ByDomain", "Feeds", new { host = item.Host }, new { @class = "ui teal basic tiny button" })
                @*@Html.ActionLink("Изменить", "Edit", new { host = item.Host }, new { @class = "ui teal basic tiny button" })*@
                @*@Html.ActionLink("Подробнее", "Details", new { host = item.Host }, new { @class = "ui teal basic tiny button" })*@
            </td>
        </tr>
    }

</table>

<script>
    function changeStatus(el) {
        var domain = $(el).attr('data-type');
        var update = $(el).prop('checked');
        var headers = {};

        $.ajax({
            url: '/Hidden/Domains/ChangeDomainsStatus',
            dataType: "json",
            type: "POST",
            headers: headers,
            data: JSON.stringify({
                "domain": domain,
                "autoupdate": update
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: true,
            success: function (data) {
                console.log('success');
            },
            error: function (xhr) {
                console.log('error');
            }
        });
    }
</script>